body {
  background-size: contain;
  background-repeat: no-repeat;
  /* font-family: 'Noto Sans TC', sans-serif; */
}

.B h3{
  color: black;
}

.proTop {
  margin: 0;
  color: #777777;
  font-size: 1.1rem;
}

.proSlogan {
  color: #000000;
  font-weight: 400;
  font-size: 1.5rem;
}

/*  */

.pic {
  overflow: hidden;
}

.pic img {
  transform: scale(1, 1);
  transition: all .9s ease;
}

.btndiv {
  visibility: hidden;
  border-radius: 64px;
}

.btnDIV:hover img{
  opacity: 0.5;
  transform: scale(1.15, 1.15);
}
.btnDIV:hover .btndiv{
  visibility: visible;
}

.footer {
  background-color: #141414;
  color: #808080;
  font-size: 0.8rem;
  line-height: 0.8rem;
}

